{% extends "base.html" %}

{% block content %}
<h1>Profil użytkownika {{ user.username }}</h1>
<p>Email: {{ user.email }}</p>
<h2>Dodaj plan treningowy</h2>
<form method="POST" action="{{ url_for('upload_training_plan', user_id=user.id) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.file.label }}<br>
        {{ form.file(size=32) }}<br>
        {% for error in form.file.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
